.image {
	width: 100%; /* Stretch the image horizontally to fill the container */
	height: 100%; /* Stretch the image vertically to fill the container */
	object-fit: cover; /* Maintain aspect ratio and fill the container */
	border: 2px solid white;
	box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.image:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.card-container {
	display: grid;
	gap: 30px;
}
